<div class="container mt-5">
  <div class="row justify-content-center">
    <form
      [formGroup]="myForm"
      (ngSubmit)="submitHandler()"
      #formRef="ngForm"
      class="d-flex flex-column col-md-6"
    >
      <mat-form-field>
        <input matInput placeholder="name" type="text" formControlName="name" />
        <mat-error *ngIf="myForm.controls['name'].hasError('required')"
          >This field is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="age" type="text" formControlName="age" />
        <mat-error *ngIf="myForm.controls['age'].hasError('required')"
          >This field is required</mat-error
        >
        <mat-error *ngIf="myForm.controls['age'].hasError('min')"
          >Min age is: 18 years</mat-error
        >
        <mat-error *ngIf="myForm.controls['age'].hasError('pattern')"
          >Only number</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="email"
          type="email"
          formControlName="email"
        />
        <mat-error *ngIf="myForm.controls['email'].hasError('required')"
          >This field is required</mat-error
        >
        <mat-error *ngIf="myForm.controls['email'].hasError('email')"
          >This email is not valid</mat-error
        >
      </mat-form-field>
      <button mat-flat-button color="#1a73e8" type="submit">Submit</button>
    </form>
  </div>
</div>
